@import url('https://fonts.googleapis.com/css?family=Domine|Karla:700|Roboto:400,700,900');

/* ============ Resets ============ */
html {
  height: 100%;
}

body {
  background: #3F1263;
  background: -webkit-linear-gradient(160deg, #3F1263, #7AC7C4);
  background: -o-linear-gradient(160deg, #3F1263, #7AC7C4);
  background: -moz-linear-gradient(160deg, #3F1263, #7AC7C4);
  background: linear-gradient(160deg, #3F1263, #7AC7C4);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #2C3E50;
  font-family: 'Roboto', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18px;
  height: 100%;
  margin: 0;
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #2C3E50;
}

a:hover {
  color: #FFF;
}

/* ============ Styles ============ */
.content h1 {
  margin: 1em;
}

header {
  width: 100%;
  margin: 1em auto;
}

nav {
  background-color: #D6DBDF;
  border: 1px solid rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 0.5em 0;
  text-align: center;
}

nav a {
  color: #85929E;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: color 0.2s ease 0s;
  display:inline-block;
}

nav a:hover {
  color: #52044B;
  transition: color 0.2s ease 0s;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.content {
  background: #F5F5F5;
  padding: 1.25em 1.5em;
  box-shadow: 0 3px 15px #17202A;
}

footer {
  background-color: #21173A;
  color: #7AC7C4;
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 1.5em 0;
  border-left: 1px solid #21173A;
  box-shadow: 0 5px 10px #17202A;
  letter-spacing: 1.5px;
}

.logo {
  color: #FFF;
  font-family: 'Karla', sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.logo a {
  color: #FFF;
}

.slogan {
  color: #F8F9F9;
  font-family: 'Domine', 'Times New Roman', serif;
  font-size: 21px;
  text-align: center;
  margin-top: 0.25em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: .5em 0 1.25em 0;
}

li {
  display: inline;
  padding: 0 0.25em 0 0;
}


input {
  background: #FFF;
  border: 1px solid #D7DBDD;
  box-sizing : border-box;
  display: block;
  font-size: 18px;
  padding: 15px;
  width: 100%;
  margin: 1em 0;
}

/* Thanks Takeru Suzuki! https://codepen.io/terkel/pen/dvejH used for the resets */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  color: #008080;
  cursor: pointer;
  background-color: #7AC7C4;
  border: 1px solid rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing : border-box;
  letter-spacing: 2px;
  padding: 1em;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  width: 100%;
  margin: 1em 0;
}

button:hover {
  color: #FFF;
  background-color: #3F1263;
  transition: color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.opening {
  background-color: #FFF;
  margin: 1em auto 0 auto;
  padding: 1em;
  transition: box-shadow 0.3s ease 0s;
}

.opening .details {
  flex-grow: 1;
  padding: 6px;
}

.details p {
  line-height: 1.5em;
}

.opening:hover {
  box-shadow: 0 0 9px #AEB6BF;
  cursor: pointer;
  transition: box-shadow 0.3s ease 0s;
}

.controls {
  display: flex;
  margin-top: 0;
}

.landing a, .landing-2 a {
  display: block;
  letter-spacing: 2px;
  margin: 1em auto;
  padding: 1em 1.25em;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.landing a {
  color: #008080;
  background-color: #7AC7C4;
}

.landing-2 a {
  color: #852839;
  background-color: #E78496;
}

.controls a {
  background-color: #7AC7C4;
  color: #2F4F4F;
  display: block;
  letter-spacing: 2px;
  padding: 0.75em;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  width: 100%;
}

.landing a:hover,
.landing-2 a:hover,
.controls a:hover {
  color: #FFF;
  background-color: #52044B;
  transition: color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

/* ============ Media Queries ============ */

@media screen and (min-width: 768px) {
  .wrapper {
    width: 75%;
  }

  .logo {
    font-size: 36px;
    text-align: left;
  }

  .slogan {
    font-size: 16px;
    text-align: left;
  }

  nav {
    padding: 1em 1.25em;
    text-align: left;
  }

  .content {
    padding: 2.5em;
  }

  .opening {
    display: flex;
  }

  .landing, .landing-2 {
    display: flex;
    flex-direction: row;
  }
  .landing a, .landing-2 a {
    width: 100%;
  }
}
