<nav>
  <a data-ui-sref="Index" title="home"><i class="fa fa-home" aria-hidden="true"></i> home</a>
  <a data-ui-sref="openingIndex" title="back to previous page"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back</a>
</nav>

<h2>Edit Opening</h2>

<form>
  <input value="vm.opening.opening_name" data-ng-model="vm.opening.opening_name" />
  <input value="vm.opening.skills" data-ng-model="vm.opening.skills" />
  <input value="vm.opening.years_exp" data-ng-model="vm.opening.years_exp" />
  <input value="vm.opening.education" data-ng-model="vm.opening.education"></input>
  <div class="controls">
    <button type="button" data-ng-click="vm.update()">Update</button>
    <button data-ng-click="vm.destroy()">Delete</button>
  </div>
</form>
