<nav>
  <a data-ui-sref="Index" title="home"><i class="fa fa-home" aria-hidden="true"></i> home</a>
  <a data-ui-sref="applicantIndex" title="back to previous page"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back</a>
</nav>

<h2>Edit Applicant</h2>

<form>
  <input value="vm.applicant.name" data-ng-model="vm.applicant.name" />
  <input value="vm.applicant.skills" data-ng-model="vm.applicant.skills" />
  <input value="vm.applicant.education" data-ng-model="vm.applicant.education" />
  <input value="vm.applicant.years_exp" data-ng-model="vm.applicant.years_exp"></input>
  <div class="controls">
    <button type="button" data-ng-click="vm.update()">Update</button>
    <button data-ng-click="vm.destroy()">Delete</button>
  </div>
</form>
