<nav>
  <a data-ui-sref="Index" title="home"><i class="fa fa-home" aria-hidden="true"></i> home</a>
  <a data-ui-sref="openingIndex" title="back to previous page"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> back</a>
</nav>

<h2>New Applicant</h2>

<form>
  <input placeholder="Name" data-ng-model="vm.applicant.name" />
  <input placeholder="Skills" data-ng-model="vm.applicant.skills" />
  <input placeholder="Years Experience" data-ng-model="vm.applicant.years_exp" />
  <input placeholder="Education" data-ng-model="vm.applicant.education"></input>
  <button type="button" data-ng-click="vm.create()">Create</button>
</form>
